
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&display=swap');
@import "_mixins";
@import "_reset";

/*===================================ibg=========================================================*/
.ibg{
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	position: relative;
	}
	.ibg img{
	width: 0;
	height: 0;
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0;
	visibility: hidden;
	}
/*==================================ibg==========================================================*/
body {
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
	font-size: 14px;
}
.page {
	position: absolute;
	width: 100%;	
	height: 100%;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	display: flex;
	flex-direction: column;
}
.main-screen {
	flex:1 0 100%;
	position: relative;
	background-color: #000;
	&__bg {
		position: absolute;
		width: 100%;	
		height: 100%;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background-color: #000;
		opacity: .2;
	}
}
.header {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 10;
	width: 100%;
	&::before {
		content:"";
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: rgba(0, 0, 0, 0.808);
		z-index: 3;
	}
}
.header__body {
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: relative;
	min-height: 130px;
}
.header__logo {
	display: inline-block;
	margin-left: 100px;
	position: relative;
	overflow: hidden;
	z-index: 4;
	img {
		min-width: 100%;
		display: block;
	}
}
.header__menu {
	display: flex;
	top: -100%;
	.header__list {
		display: flex;
		position: relative;
		z-index: 3;
		li {
			margin-right: 50px;
			.header__link {
				color: #ffffff;
				font-size: 18px;
			}
		}
	}
	.header__search {
		margin: 0 100px 0 60px;
		z-index: 3;
	}
}
.header__burger {
	display: none;
}

@media (max-width:1180px) {
	.header__menu {
		.header__list {
			li {
				margin-right: 30px;
				.header__link {
					color: #ffffff;
					font-size: 18px;
				}
			}
		}
		.header__search {
			margin: 0 20px 0 20px;
		}
	}
	.header__logo {
		margin-left: 30px;
	}
}
@media (max-width:767px) {
	body.lock {
		overflow: hidden;
		}
	.header__body {
		min-height: 80px;
	}
	.header__burger {
		display: block;
		position: relative;
		color:#fff;
		width: 60px;
		z-index: 5;
		margin-right: 30px;
		cursor: pointer;
		.burger-top {
			display: block;
			position: absolute;
			width: 100%;
			height: 2px;
			background-color: #fff;
			transition: 0.2s;
		}
		.burger-middle {
			display: block;
			position: relative;
			margin:10px 0;
			text-align: center;
			font-size: 12px;
			&::before {
				display: block;
				content: "";
				position: absolute;
				right: 53px;
				top: 6px;
				width: 7px;
				height: 2px;
				background-color: #fff;
			}
			&::after {
				display: block;
				content: "";
				position: absolute;
				left: 53px;
				top: 6px;
				width: 7px;
				height: 2px;
				background-color: #fff;
			}
		}
		.burger-bottom {
			display: block;
			position: absolute;
			width: 100%;
			height: 2px;
			background-color: #fff;
			transition: 0.2s;
		}
	}
	.header__menu {
		position: fixed;
		display: block;
		overflow: auto;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: rgba(0, 0, 0, 0.95);
		padding: 80px 0 0 0;
		opacity: 0;
		.header__list {
			display: block;
			text-align: center;
			padding: 30px 0;
			li {
				margin-bottom: 50px;
				margin-right: 0;
				.header__link {
					color: #ffffff;
					font-size: 28px;
				}
			}
		}
		.header__search {
			margin: 0 100px 0 60px;
			text-align: center;
		}
	}
	.header__logo {
		img {
			width: 120px;
		}
	}
	.header__menu.active {
		opacity: 1;
		transition: all 0.3s ease 0s;
	}
	.header__burger.active {
		.burger-top {
			transform: rotate(45deg);
			top:17px;
			transition: 0.2s;
			width: 80%;
		}
		.burger-middle {
			transform: scale(0);
			transition: 0.3s;
		}
		.burger-bottom {
			transform: rotate(-45deg);
			bottom:14px;
			transition: 0.2s;
			width: 80%;
		}
	}
}
.header__title {
	text-align: center;
	position: absolute;
	top: 40%;
	left: 0;
	right: 0;
	transform: (50% 50%);
	color:#fff;
	.header__body-titel {
		@include adaptive-font(72, 40);
		font-weight: 700;
		margin-bottom: 15px;
		span {
			color:#2ebaee;
		}
	}
	.header__body-text {
		@include adaptive-font(24, 18);
		margin-bottom: 70px;
	}
}
@media (max-width:350px) {
	.header__title {
		top: 30%;
		left: 0;
		right: 0;
		.header__body-titel {
			font-weight: 700;
			margin-bottom: 15px;
			span {
				color:#2ebaee;
			}
		}
		.header__body-text {
			margin-bottom: 70px;
		}
	}
}
.button {
	display: flex;
	justify-content: center;
	align-items: center;
	margin:0 auto;
	width: 216px;
	height: 51px;
	background-color:#2ebaee;
	border-radius: 30px;
	color:#fff;
	font-weight: 700;
	text-decoration: none;
	transition: .2s;
	&:hover {
		background-color:transparent;
		color: #2ebaee;
		transition: .2s;
	}
}
.button-services {
	width: 151px;
	height: 44px;
	background-color:#2ebaee;
	border-radius: 30px;
}
.white {
	background-color:#fff;
	border-radius: 30px;
	color:#2ebaee;
	transition: .2s;
	&:hover {
		background-color:#2ebaee;
		color: #fff;
		transition: .2s;
	}
}
.container {
	max-width: 1340px;
	margin: 0 auto;
	padding:0 20px;
}
.services {
	background-image: url(img/bg_services.webp);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 64% 50%;
		.services-titel {
			display: flex;
			justify-content: center;
			align-items: center;
			color: #242424;
			width: 100%;
			height: 190px;
			text-align: center;
			border-bottom:1px solid rgb(216, 216, 216);
			margin-bottom: 82px;
			h1 {
				@include adaptive-font(48, 35);
			}
		}
		.services__row {
			margin-bottom: 70px;
			display: flex;
			.services__column {
				flex: 1 1 25%;
				padding: 0 10px;
				.services__column-img {
					margin-bottom: 40px;
				}
				.services__column-title {
				color: #242424;
				font-size: 24px;
				margin-bottom: 22px;
				}
				.button-services {
					margin-bottom:180px;
				}
			}
		}
		@media (max-width:1060px) {
			.services-titel {
				height: 90px;
				text-align: center;
				border-bottom:1px solid rgb(216, 216, 216);
				margin-bottom: 42px;
			}
			.services__row {
				margin-bottom: 30px;
				display: flex;
				flex-wrap: wrap;
				.services__column {
					flex: 0 1 45%;
					padding: 0 10px;
					.services__column-img {
						margin-bottom: 20px;
					}
					.services__column-title {
					color: #242424;
					font-size: 24px;
					margin-bottom: 22px;
					}
					.services__column-text {
						margin-bottom: 30px;
					}
				}
				.button-services {
					margin-bottom:20px;
				}
			}
				
		}
		@media (max-width:580px) {
			.services__row {
				margin-bottom: 30px;
				display: flex;
				flex-wrap: wrap;
				text-align: center;
				.services__column {
					flex: 0 1 100%;
					padding: 0 10px;
					.services__column-img {
						margin-bottom: 20px;
					}
					.services__column-title {
					color: #242424;
					font-size: 24px;
					margin-bottom: 22px;
					}
					.services__column-text {
						margin-bottom: 30px;
					}
				}
			}
				
		}
		.services__row-laptop {
			.laptop-column {
			display: flex;
			width: 100%;
			margin-top:100px;
			.laptop__info {
				flex: 0 0 40%;
				position: relative;
				padding: 35px 0px 0px 20px;
				box-sizing: border-box;
				.laptop__info-title {
					@include adaptive-font(36, 25);
					@include adaptive-line-height(42, 40);
					color: #242424;
					margin-bottom: 3%;
				}
				.laptop__info-text {
					@include adaptive-font(14, 12);
					@include adaptive-line-height(30, 20);
					margin-bottom: 3%;
					
				}
				.text-white {
					color: #ffffff;
				}
				.button {
					margin: 0;
				}
			}
			.laptop-foto {
				position: relative;
				flex: 0 0 60%;

				img {
					width: 100%;
				}
			}
		}
		.column-1 {
			margin-bottom: 240px;
		}
		.column-2 {
			margin-bottom: 135px;
		}
		@media(max-width: 958px) {
			.laptop-column {
				display: flex;
				flex-direction: column;
				width: 100%;
				margin-top:0px;
				.laptop__info {
					flex: 0 0 100%;
					padding-top: 5%;
					text-align: center;
					.laptop__info-title {
						color: #242424;
						margin-bottom: 3%;
					}
					.laptop__info-text {
						margin-bottom: 2%;
					}
					.button {
						margin: 10px auto  30px auto;
					}
				}
				.laptop-foto {
					flex: 0 0 100%;	
				}
			}
			.column-1 {
				margin-bottom: 40px;
			}
			.column-2 {
				margin-bottom: 35px;
				flex-direction: column-reverse;
			}

		}
	
	}
	.gallery__row {
		width: 100%;
		@include adaptive-margin-top(90, 5);
		.gallery__column-big {
			display: flex;
			width: 100%;
			.items-big.foto{
				width: 50%;
				box-sizing: border-box;
				img {
					width: 100%;
					height: 100%;
				}
			}
			.items-big.info{
				box-sizing: border-box;
				flex: 1 0 50%;
				@include adaptive-padding-bottom(80, 15);
				@include adaptive-padding-top(83, 15);
				@include adaptive-padding-left(71, 15);
				@include adaptive-padding-right(80, 15);
				background-color: #fff;
				.items-big-titel {
					max-width: 530px;
					color: #000000;
					@include adaptive-font(72, 30);
					@include adaptive-line-height(82, 40);
					@include adaptive-margin-top(30, 5);
					@include adaptive-margin-bottom(74, 5);
					@include adaptive-letter-spacing(0.3, 5);
				}
				.items-big-text {
					max-width: 530px;
					color: #878787;
					line-height: 30px;
					margin-bottom: 3%;
					padding-left: 7px;
				}
				.items-big-button {
					display: flex;
					justify-content: center;
					align-items: center;
					width: 151px;
					height: 44px;
					background-color: #2ebaee;
					color: #ffffff;
					border-radius: 35px;
					cursor: pointer;
					transition: .2s;
					&:hover {
						background-color:#fff;
						color: #2ebaee;
						transition: .2s;
					}
				}
			}
		}
		@media(max-width: 958px) {
			.gallery__column-big {
				display: flex;
				flex-direction: column-reverse;
				.items-big.foto{
					width: 100%;
				}
				.items-big.info{
					flex: 1 0 100%;
					text-align: center;
				}
				.items-big-button {
					margin: 0 auto;
				}
				
			}
		}
	}
	.gallery__column-small {
		display: flex;
		.items-small {
			display: block;
			position: relative;
			width: 25%;
			background-repeat: no-repeat;
			background-position: center;
			background-size: cover;
			padding: 10% 0;
			.items-small-mask {
				display: flex;
				justify-content: center;
				align-items: center;
				position: absolute;
				top: 0;
				left: 0;
				bottom: 0;
				right: 0;
				background-color: rgba(0, 0, 0, 0.8);
				span {
					display: block;
					color:#fff;
					font-weight: 700;
					width: 75%;
					@include adaptive-font(46, 20);
					@include adaptive-line-height(58, 20);
					letter-spacing: .25px;
				}
				transition: .2s;
				&:hover {
					background-color: rgba(46, 187, 238, 0.8);
					transition: .2s;
					cursor: pointer;
				}
			}
		}
		.small-1 {
			background-image: url(img/services/laptop.png);
		}
		.small-2 {
			background-image: url(img/services/hall.png);
		}
		.small-3 {
			background-image: url(img/services/laptop-2.png);
		}
		.small-4 {
			background-image: url(img/services/laptop-3.png);
		}
	}
	@media(max-width: 1240px) {
		.gallery__column-small {
			display: flex;
			flex-wrap: wrap;
			.items-small {
				width: 50%;
				padding: 20% 0;
			}
		}
	}
	@media(max-width: 768px) {
		.gallery__column-small {
			display: flex;
			flex-wrap: wrap;
			.items-small {
				width: 100%;
				padding: 25% 0;
			}
		}

	}
}
.check {
	width: 100%;
	padding: 5% 0 5% 0;
	.check_container {
		h1 {
		display: block;
		@include adaptive-font(72, 40);
		@include adaptive-line-height(82, 35);
		font-weight: 700;
		color: #242424;
		margin-bottom: 5%;
		& span {
			color: #2ebaee;
		}
	}
	.team__row {
		display: flex;
		width: 100%;
		height: 100%;
		background-color: #fff;
		.team__column {
			margin-left:10px;
			margin-right:10px;
			width: 25%;
			text-align: center;
			box-sizing: border-box;
			&:first-child {
				margin-left:0px;
			}
			&:last-child {
				margin-right:0px;
			}
			.team__column-img {
				padding: 30px;
				img {
					width: 100%;
					border-radius: 50%;
				}
			}
			.team__column-name {
				color: #242424;
				@include adaptive-font(36, 30);
			}
			.team__column-direction {
				color: #878787;
				font-family: Montserrat;
				font-size: 14px;
				font-weight: 400;
				line-height: 40px;
				margin-bottom: 5%;
			}
			.team__column-button {
				display: flex;
				justify-content: center;
				align-items: center;
				margin: 0 auto;
				width: 151px;
				height: 44px;
				background-color:#2ebaee;
				border-radius: 30px;
				color: #ffffff;
				font-weight: 700;
				cursor: pointer;
				transition: .2s;
				&:hover {
					background-color:#fff;
					color: #2ebaee;
					transition: .2s;
				}
			}
		}
	}
	@media(max-width: 958px) {
		.team__row {
			display: flex;
			flex-wrap: wrap;
			.team__column {
				margin-left:5px;
				margin-right:5px;
				width: 45%;
				.team__column-direction {
					line-height: 40px;
					margin-bottom: 2%;
				}
				.team__column-button {
					width: 151px;
					height: 44px;
				}
			}
		}
	}
	@media(max-width: 687px) {
		.team__row {
			display: flex;
			flex-wrap: wrap;
			.team__column {
				margin-left:5px;
				margin-right:5px;
				width: 100%;
				.team__column-direction {
					line-height: 40px;
					margin-bottom: 2%;
				}
				.team__column-button {
					width: 151px;
					height: 44px;
				}
			}
		}
	}
}
}

.contact {
	display: block;
	background-image: url(img/bg_contact.png);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	position: relative;
	background-attachment: fixed;
	width: 100%;
	.contact-masc {
		background-color: rgba(0, 0, 0, 0.8);
		padding: 7% 0;
		.contact__row {
			display: flex;
			.contact__column-info {
				flex:1 1 50%;
				h1 {
					color: #ffffff;
					@include adaptive-font(72, 30);
					
					font-weight: 700;
					margin-bottom: 10%;
				}
				.adress {
					color: #878787;
					font-size: 18px;
					line-height: 30px;
					margin-bottom: 20px;
				}
				.phone,
				.mail  {
					color: #878787;
					@include adaptive-font(30, 20);
					font-size: 30px;
					line-height: 48px;
					span {
						color: #2ebaee;
					}
				}
				.social {
					display: flex;
					margin-top: 70px;
					margin-bottom: 70px;
					.social-icon {
						display: flex;
						justify-content: center;
						align-items: center;
						width: 55px;
						height: 55px;
						border-radius: 50%;
						margin: 10px 17.5px;
						transition: .2s;
						&:last-child {
							margin-right: 0;
						}
						&:first-child{
							margin-left: 0;
						}
						img {
							display: block;
						}
						&:hover {
							transform: scale(1.2);
							transition: .2s;
						}
					}
					.twitter {
						background-color: #55acee;
					}
					.fb {
						background-color: #3b5998;
					}
					.pinterest {
						background-color: #cc2127;
					}
					.google {
						background-color: #dd4b39;
					}
					.mail {
						background-color: #e23047;
					}
				}
			}
			.contact__column-mail {
				flex:1 1 50%;
				input {
					display: block;
					width: 100%;
					box-sizing: border-box;
					background-color: transparent;
					border-radius: 3px;
					border: 2px solid #535353;
					padding:25px;
					margin-bottom: 25px;
					color:#fff;
					font-weight: 700;
					transition: .2s;
				}
				input:focus::-webkit-input-placeholder {color: transparent; transition: .3s;}
				input:focus::-moz-placeholder          {color: transparent; transition: .3s;}
				input:focus:-moz-placeholder           {color: transparent; transition: .3s;}
				input:focus:-moz-placeholder         	 {color: transparent; transition: .3s;}
				input:focus:-ms-input-placeholder      {color: transparent; transition: .3s;}
				.youre-message {
					display: block;
					box-sizing: border-box;
					padding:25px 25px 200px 25px;
					width: 100%;
					background-color: transparent;
					border-radius: 3px;
					border: 2px solid #535353;
					margin-bottom: 25px;
					color:#fff;
					font-weight: 700;
					transition: .3s;
				}
				textarea:focus::-webkit-input-placeholder { color:transparent; }
				textarea:focus:-moz-placeholder { color:transparent; } /* FireFox 4-18 */
				textarea:focus::-moz-placeholder { color:transparent; } /* FireFox 19+ */
				textarea:focus:-ms-input-placeholder { color:transparent; } /* Internet Explorer 10+ */
				.btn {
					display: flex;
					justify-content: center;
					align-items: center;
					margin: 0 auto;
					width: 151px;
					height: 44px;
					background-color:#2ebaee;
					border:#2ebaee;
					border-radius: 30px;
					color: #ffffff;
					font-weight: 700;
					cursor: pointer;
					transition: .2s;
					&:hover {
						background-color:transparent;
						color: #2ebaee;
						transition: .2s;
					}
				}
			}
		}
		@media(max-width: 958px) {
			.contact__row {
				display: flex;
				flex-wrap: wrap;
				.contact__column-info {
					flex:1 1 100%;
					text-align: center;
					h1 {
						font-weight: 700;
						margin-bottom: 10%;
					}
					.adress {
						line-height: 30px;
						margin-bottom: 20px;
					}
					.phone,
					.mail  {
						line-height: 48px;
					}
					.social {
						display: flex;
						flex-wrap: wrap;
						justify-content: center;
						margin-top: 30px;
						margin-bottom: 30px;
					}

				}
				.contact__column-mail {
					flex:1 1 50%;
					input {
						padding:25px;
						margin-bottom: 25px;
					}

					.youre-message {
						padding:25px 25px 200px 25px;
						margin-bottom: 25px;
						font-weight: 700;
					}
				}
			}
		}
	}
}
.footer {
	background-color: #000;
	color:#fff;
	.footer__row {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding:2%;
		.footer__nav {
			ul{
				display: flex;
				li {
					margin-right: 15px;
					&:last-child{
						margin-right: 0;
					}
					a {
						@include adaptive-font(14, 11);
						font-weight: 700;
						color: #b2b2b2;
						&:hover {
							text-decoration: underline;
						}
					}
				}
			}
		}
		.copiright {
			color: #b2b2b2;
			@include adaptive-font(14, 10);
			span {
				font-family: "Koz Go Pr 6 N";
				font-weight: 400;
			}
		}
	}
	@media(max-width: 787px) {
		.footer__row {
			display: flex;
			flex-direction: column;
			justify-content: space-around;
			.footer__nav {
				ul{
					display: flex;
					li {
						margin-right: 15px;
						a {
							line-height: 50px;
							&:hover {
								text-decoration: underline;
							}
						}
					}
				}
			}
			.copiright {
				span {
					line-height: 30px;
				}
			}
		}
	}
}

