
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&display=swap');
@import "_mixins";
@import "_reset";

/*===================================ibg=========================================================*/
.ibg{
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	position: relative;
	}
	.ibg img{
	width: 0;
	height: 0;
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0;
	visibility: hidden;
	}
/*==================================ibg==========================================================*/
body {
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
	font-size: 14px;
}
.page {
	position: absolute;
	width: 100%;	
	height: 100%;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	display: flex;
	flex-direction: column;
}
.main-screen {
	flex:1 0 100%;
	position: relative;
	background-color: #000;
	&__bg {
		position: absolute;
		width: 100%;	
		height: 100%;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background-color: #000;
		opacity: .2;
	}
}
.header {
	.header__top {
		display: flex;
		position: fixed;
		justify-content: space-between;
		align-items: center;
		width: 100%;
		height: 117px;
		background-color: rgba(0, 0, 0, 0.8);
		z-index: 1;
		.header__logo {
			position: relative;
			font-size: 36px;
			font-weight: 700;
			margin-left: 95px;
			a {
				text-decoration: none;
			}
		}
		.header__nav {
			display: flex;
			margin-right: 100px;
			.nav-bar {
				font-size: 18px;
				font-weight: 400;
				ul {
					display: flex;
					li {
						padding-right: 50px;
						list-style-type: none;
						a {
							display: inline-block;
							text-decoration: none;
							color: #fff;
							&:hover {
								color:#39b9ef;
								border-bottom:2px solid #39b9ef;
							}
						}
					}
					.active {
						color:#39b9ef;
						border-bottom:2px solid #39b9ef;
					}
					li:last-child {
						padding-right: 75px;
					}
				}
			}
			.nav-search {
				display: flex;
				align-items: center;
			}
		}
	}
}
.header__body {
	text-align: center;
	position: absolute;
	top: 40%;
	left: 0;
	right: 0;
	transform: (50% 50%);
	color:#fff;
	.header__body-titel {
		font-size: 72px;
		font-weight: 700;
		margin-bottom: 15px;
		span {
			color:#2ebaee;
		}
	}
	.header__body-text {
		font-size: 24px;
		margin-bottom: 70px;
	}
}
.button {
	display: flex;
	justify-content: center;
	align-items: center;
	margin:0 auto;
	width: 216px;
	height: 51px;
	background-color:#2ebaee;
	border-radius: 30px;
	color:#fff;
	font-weight: 700;
	text-decoration: none;
	&:hover{
		text-decoration: underline;
	}
}
.button-services {
	width: 151px;
	height: 44px;
	background-color:#2ebaee;
	border-radius: 30px;
}
.white {
	background-color:#fff;
	border-radius: 30px;
	color:#2ebaee;
}
.container {
	max-width: 1340px;
	margin: 0 auto;
	padding:0 20px;
}
.services {
	background-image: url(img/bg_services.webp);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 64% 50%;
		.services-titel {
			display: flex;
			justify-content: center;
			align-items: center;
			color: #242424;
			width: 100%;
			height: 190px;
			text-align: center;
			border-bottom:1px solid rgb(216, 216, 216);
			margin-bottom: 82px;
			h1 {
				font-size: 48px;
			}
		}
		.services__row {
			margin-bottom: 70px;
			display: flex;
			.services__column {
				width: 25%;
				.services__column-img {
					margin-bottom: 40px;
					min-height: 80px;
				}
				.services__column-title {
				color: #242424;
				font-size: 24px;
				margin-bottom: 22px;
				}
			}
		}
		.services__row-laptop {
			margin-top:180px;
			.laptop-column {
			display: flex;
			justify-content: space-between;
			width: 100%;
			margin-top:100px;
			.laptop__info {
				width: 498px;
				padding-top: 75px;
				.laptop__info-title {
					color: #242424;
					font-size: 36px;
					margin-bottom: 35px;
				}
				.laptop__info-text {
					margin-bottom: 25px;
					line-height: 30px;
					font-size: 14px;
				}
				.text-white {
					color: #ffffff;
				}
				.button {
					margin: 0;
				}
			}
		}
		.column-1 {
			margin-bottom: 240px;
		}
		.column-2 {
			margin-bottom: 135px;
		}
	
	}
	.gallery__row {
		width: 100%;
		@include adaptive-margin-top(90, 5);
		.gallery__column-big {
			display: flex;
			width: 100%;
			.items-big.foto{
				width: 50%;
				box-sizing: border-box;
				img {
					width: 100%;
					height: 100%;
				}
			}
			.items-big.info{
				box-sizing: border-box;
				width: 50%;
				@include adaptive-padding-bottom(80, 15);
				@include adaptive-padding-top(83, 15);
				@include adaptive-padding-left(71, 15);
				@include adaptive-padding-right(80, 15);
				background-color: #fff;
				.items-big-titel {
					max-width: 530px;
					color: #000000;
					@include adaptive-font(72, 30);
					@include adaptive-line-height(82, 40);
					@include adaptive-margin-top(30, 5);
					@include adaptive-margin-bottom(74, 5);
					@include adaptive-letter-spacing(0.3, 5);
				}
				.items-big-text {
					max-width: 530px;
					color: #878787;
					line-height: 30px;
					margin-bottom: 3%;
					padding-left: 7px;
				}
				.items-big-button {
					display: flex;
					justify-content: center;
					align-items: center;
					width: 151px;
					height: 44px;
					background-color: #2ebaee;
					color: #ffffff;
					border-radius: 35px;
					cursor: pointer;
					&:hover {
						text-decoration: underline;
					}
				}
			}
		}
		@media(max-width: 958px) {
			.gallery__column-big {
				display: flex;
				flex-direction: column;
				.items-big.foto{
					width: 100%;
				}
				.items-big.info{
					flex: 0 0 auto;
					width: 100%;
				}
				
			}
		}
	}
	.gallery__column-small {
		display: flex;
		.items-small {
			display: block;
			position: relative;
			width: 25%;
			background-repeat: no-repeat;
			background-position: center;
			background-size: cover;
			padding: 10% 0;
			.items-small-mask {
				display: flex;
				justify-content: center;
				align-items: center;
				position: absolute;
				top: 0;
				left: 0;
				bottom: 0;
				right: 0;
				background-color: rgba(0, 0, 0, 0.8);
				span {
					display: block;
					color:#fff;
					font-weight: 700;
					width: 75%;
					@include adaptive-font(46, 20);
					@include adaptive-line-height(58, 20);
					letter-spacing: .25px;
				}
				transition: .2s;
				&:hover {
					background-color: rgba(46, 187, 238, 0.8);
					transition: .2s;
					cursor: pointer;
				}
			}
		}
		.small-1 {
			background-image: url(img/services/laptop.png);
		}
		.small-2 {
			background-image: url(img/services/hall.png);
		}
		.small-3 {
			background-image: url(img/services/laptop-2.png);
		}
		.small-4 {
			background-image: url(img/services/laptop-3.png);
		}
	}
	@media(max-width: 1240px) {
		.gallery__column-small {
			display: flex;
			flex-wrap: wrap;
			.items-small {
				width: 50%;
				padding: 20% 0;
			}
		}
	}
	@media(max-width: 768px) {
		.gallery__column-small {
			display: flex;
			flex-wrap: wrap;
			.items-small {
				width: 100%;
				padding: 25% 0;
			}
		}

	}
}
.check {
	width: 100%;
	padding: 5% 0 5% 0;
	.check_container {
		h1 {
		display: block;
		@include adaptive-font(72, 40);
		@include adaptive-line-height(82, 35);
		font-weight: 700;
		color: #242424;
		margin-bottom: 5%;
		& span {
			color: #2ebaee;
		}
	}
	.team__row {
		display: flex;
		width: 100%;
		height: 100%;
		background-color: #fff;
		.team__column {
			margin-left:10px;
			margin-right:10px;
			width: 25%;
			text-align: center;
			box-sizing: border-box;
			&:first-child {
				margin-left:0px;
			}
			&:last-child {
				margin-right:0px;
			}
			.team__column-img {
				padding: 30px;
				img {
					width: 100%;
					border-radius: 50%;
				}
			}
			.team__column-name {
				color: #242424;
				@include adaptive-font(36, 30);
			}
			.team__column-direction {
				color: #878787;
				font-family: Montserrat;
				font-size: 14px;
				font-weight: 400;
				line-height: 40px;
				margin-bottom: 5%;
			}
			.team__column-button {
				display: flex;
				justify-content: center;
				align-items: center;
				margin: 0 auto;
				width: 151px;
				height: 44px;
				background-color:#2ebaee;
				border-radius: 30px;
				color: #ffffff;
				font-weight: 700;
			}
		}
	}
	@media(max-width: 958px) {
		.team__row {
			display: flex;
			flex-wrap: wrap;
			.team__column {
				margin-left:5px;
				margin-right:5px;
				width: 45%;
				.team__column-direction {
					line-height: 40px;
					margin-bottom: 2%;
				}
				.team__column-button {
					width: 151px;
					height: 44px;
				}
			}
		}
	}
	@media(max-width: 687px) {
		.team__row {
			display: flex;
			flex-wrap: wrap;
			.team__column {
				margin-left:5px;
				margin-right:5px;
				width: 100%;
				.team__column-direction {
					line-height: 40px;
					margin-bottom: 2%;
				}
				.team__column-button {
					width: 151px;
					height: 44px;
				}
			}
		}
	}
}
}
.contact {
	display: block;
	background-image: url(img/bg_contact.png);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	position: relative;
	width: 100%;
	.contact-masc {
		padding: 20px 0; 
		background-color: rgba(0, 0, 0, 0.8);
		.contact__row {
			display: flex;
			.contact__column {
				flex:1 1 50%;
				min-height: 500px;
			}
		}
	}
}
.footer {
	background-color: #000;
	color:#fff;
	.footer__row {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding:3%;
		.footer__nav {
			ul{
				display: flex;
				li {
					margin-right: 15px;
					&:last-child{
						margin-right: 0;
					}
					a {
						@include adaptive-font(14, 11);
						font-weight: 700;
						color: #b2b2b2;
						&:hover {
							text-decoration: underline;
						}
					}
				}
			}
		}
		.copiright {
			color: #b2b2b2;
			@include adaptive-font(14, 10);
			span {
				font-family: "Koz Go Pr 6 N";
				font-weight: 400;
			}
		}
	}
	@media(max-width: 787px) {
		.footer__row {
			display: flex;
			flex-direction: column;
			justify-content: space-around;
			.footer__nav {
				ul{
					display: flex;
					li {
						margin-right: 15px;
						a {
							line-height: 50px;
							&:hover {
								text-decoration: underline;
							}
						}
					}
				}
			}
			.copiright {
				span {
					line-height: 30px;
				}
			}
		}
	}
}